*{
margin:0;
padding: 0;
box-sizing: border-box;
position: relative;
}

body{
  font-family: 'montserratt', sans-serif;
}

.initial-text{
  text-align:center;
   color: #FFF;
  font-size: 70px;
  font-weight: 100;
}

.fondo{
  background-image: linear-gradient(170deg, #be96ff 0, #7774ff 25%, #2450d8 50%, #002e97 75%, #00105e 100%);}
.fondo.warm{
  background-image: linear-gradient(170deg, #ff7b4f 0, #ff6b5a 10%, #ff5a61 20%, #ff4866 30%, #f43668 40%, #d82466 50%, #bb1262 60%, #a1035e 70%, #89005b 80%, #750058 90%, #630257 100%);
}

.app{
  background: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition:0.4s ease-out; 
  
  max-width: 555px;
margin-left: auto;
margin-right: auto;

}

.app.warm{
  background-image: url("./assets/warm-bg.jpg");

}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,.75));
  padding: 25px;

}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
display: block;
width: 100%;
padding: 15px;

appearance: none;
background: none;
border: none;
outline: none;

background-color: rgba(255,255,255,0.);
border-radius: 0px 0px 16px 16px;
margin-top: -25px;

box-shadow: 0px 5px rgba(0,0,0,0.2);

color:#313131;
font-size: 20px;

transition: 1.0s ease;
}

 .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.location-box .location{
  color:#FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.location-box .date{
  color:#FFF;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}


.weather-box{
  text-align:center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather{
  color:#FFF;
  font-size: 48px;
font-weight: 700px;
text-shadow: 3px 3px rgba(50,50,70,0.5);
}